.gpt3-footer {
  background: var(--color-footer);
}

.gpt3-footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.gpt3-footer .heading {
  width: 100%;
  text-align: center;
}

.gpt3-footer .heading h1 {
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  text-align: center;
  letter-spacing: -0.04em;
}

.gpt3-footer .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid #fff;
  text-align: center;
  cursor: pointer;
  margin-bottom: 5rem;
}

.gpt3-footer .btn p {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  word-spacing: 2px;
}

.gpt3-footer .links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  text-align: left;
}

.gpt3-footer .links div {
  width: 250px;
  margin-top: 2rem;
}

.gpt3-footer .links .logo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.gpt3-footer .links .logo img {
  width: 118px;
  height: 30px;
}

.gpt3-footer .links .logo p {
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}

.gpt3-footer .links .links-div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.gpt3-footer .links .links-div h4 {
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  margin-bottom: 1rem;
}

.gpt3-footer .links .links-div p {
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  cursor: pointer;
}

.gpt3-footer .links .copyright {
  text-align: center;
  width: 100%;
}

.gpt3-footer .copyright p {
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .gpt3-footer .heading h1 {
    font-size: 44px;
    line-height: 50px;
  }
}

@media screen and (max-width: 575px) {
  .gpt3-footer .heading h1 {
    font-size: 34px;
    line-height: 42px;
  }

  .gpt3-footer .links div {
    margin-top: 1rem;
  }

  .gpt3-footer .btn p {
    font-size: 14px;
    line-height: 20px;
  }
}